<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <div class="container">
        <h1>Registration Successful</h1>
        <h3>Research Innovation & Discovery</h3>
        <img src="/images/step-4.png" alt="Success Image">
        <div id="form-last">
            <img src="/images/icon.png" alt="Success Icon">
            <h1>Congratulations, <br><span id="userName"><%= userName %></span>!</h1>
            <!-- <p><%= message %></p> -->
            <a href="/">Go to Home</a>
        </div>
    </div>
    <footer>
        <p>Copyright ©2024, RID | TWF (TWKSAA WELFARE FOUNDATION). All Rights Reserved.</p>
        <div class="links">
            <span><a href="/">Home</a> | <a href="/terms">Terms & Conditions</a> | <a href="/privacy">Privacy Policy</a> | <a href="/feedback">Feedback</a></span>
        </div>
    </footer>
</body>
</html>
