@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hind", sans-serif;
}

.parent {
    display: grid;
    grid-template-columns: 100%;
    overflow: hidden;
}

header .upper-header{
    background-color: #006989;
    color: white;
    display: flex;
    font-size: small;
    justify-content: space-between;
    padding: 5px 10px;
}

.upper-header .left-content span{
    font-weight: 500;
}

.upper-header .right-content span{
    align-content: end;
}

.upper-header .right-content a{
    text-decoration: none;
    color: white;
    padding: 0px 3px;
}

header .lower-header{
    display: flex;
    justify-content: space-between;
    padding: 8px 40px;
    border-bottom: 0.5px solid #0A66C280;
    background-color: #FFFFFF;
}

header .lower-header .right-content{
    align-self: center;
}

header .lower-header .right-content button{
    font-weight: 700;
    font-size: 16px;
    line-height: 25.62px;
    text-align: center;
    color: white;
    background-color: #0A66C2;
    padding: 9px 16px 7px 16px;
    gap: 10px;
    border-radius: 44px;
    border: 0.5px solid #0A66C280;
}

header .lower-header .right-content button span{
    position: relative;
    bottom: 3px;
}

.main-content{
    display: flex;
    height: 80%;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.main-content .side-bar{
    width: 20%;
    height: 82.2vh;
    border-right: 0.5px solid #0A66C280;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2 , 1fr);
}

.main-content .side-bar  .div1{
    align-self: flex-start;
}

.main-content .side-bar .div1 div{
    display: flex;
    flex-direction: column;
    justify-content: normal;
    padding: 20px 30px;
    gap: 10px;
    border-bottom: 0.5px solid #0A66C280;
}

.main-content .side-bar .div1 div h2{
    font-weight: 700;
    line-height: 51px
}

.main-content .side-bar .div1 div button{
    padding: 7px 16px;
    gap: 10.91px;
    border: 0.5px solid #0A66C2;
    color: white;
    background-color: #0A66C2;
    text-align: left;
    border-radius: 48px;
    font-size: 16px;
    font-weight: 700;
    line-height: 21.12px;
}

.main-content .side-bar .div1 div button span:nth-child(1){
    position: relative;
    margin-right: 6px;
    top: 4px;
}

.main-content .side-bar footer{
    align-self: flex-end;
}

.main-content .main-area{
    width: 80%;
    height: 100%;
}

.main-content .side-bar footer{
    display: flex;
    flex-direction: column;
    justify-content: normal;
    padding: 20px 30px;
    gap: 10px;
}

.main-content .side-bar footer button{
    padding: 7px 16px;
    gap: 10.91px;
    border: 0.5px solid #DC143C80;
    color: #DC143C80;
    background-color: white;
    text-align: center;
    border-radius: 48px;
    font-size: 16px;
    font-weight: 700;
    line-height: 21.12px;
}

.main-content .side-bar footer button span:nth-child(1){
    position: relative;
    margin-right: 6px;
    top: 4px;
}

.main-content .side-bar footer h2{
    font-weight: 700;
    line-height: 51px
}

.main-content .main-area{
    padding: 30px;
}

.main-content .main-area h2{
    font-weight: 700;
    line-height: 51.23px;
    color: #000000;
}

.main-area #div1{
    display: flex;
    flex-direction: column;
    width: 24%;
    height: max-content;
    border: 0.5px solid #0A66C2;
    border-radius: 16px;
    padding: 20px 20px;
}

.main-area #div1 div h3{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    line-height: 30.66px;
}

.main-area #div1 h1{
    font-weight: 400;
    font-size: 64px;
    line-height: 77.45px;
}

.main-content .main-area div div{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.main-content .main-area1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}

.main-content .main-area1 h2{
    align-self: flex-start;
    justify-self: flex-start;
    position: absolute;
    top: 150px;
    left: 23vw;
}

.main-content .main-area1 .uploadForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-content .main-area1 .uploadForm section{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows: repeat(3 , 1fr);
    gap: 10px;
    width: 60vw;
    height: 40vh;
    border-radius: 8px;
    border: 1px solid #80808080;
    background-color: #F3F7FC;
    justify-content: space-evenly;
    align-content: center;
   padding: 40px;
}

.main-content .main-area1 .uploadForm section .form-group{
    display: flex;
    flex-direction: column;
    align-self: center;
}

.main-content .main-area1 .uploadForm section .form-group label{
    font-weight: 600;
    line-height: 35.22px;
}

.main-content .main-area1 .uploadForm section .form-group input{
    padding: 9.07px 16.13px;
    border: 1px solid #80808080;
    gap: 10.08px;
    border-radius: 4px;
    background-color: #FFFFFF;
}

.main-content .main-area1 .uploadForm section .form-group:nth-child(5){
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 5;
    align-content: stretch;
}

.main-content .main-area1 .uploadForm section .form-group:nth-child(5) input{
    height: 120px;
}

.main-content .main-area1 .uploadForm button{
    justify-self: center;
    width: 30%;
    height: 40px;
    color: white;
    line-height: 25.82px;
    font-weight: 700;
    text-align: center;
    font-size: 14.13px;
    padding: 9.07px, 16.13px, 9.07px, 16.13px;
    background-color: #0A66C2;
    border: 0.58px #FFFFFF;
    gap: 10.08px;
    border-radius: 4.03px;
    margin: 15px 0px;
}


/* Styles for the drop area */
.drop-area {
    border: 2px dashed #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  /* Styles for the drop area text */
  .drop-area p {
    margin: 0;
    color: #777;
  }
  
  /* Highlight drop area on dragover */
  .drop-area.dragover {
    background-color: #f0f0f0;
    border-color: #000;
  }
  
  /* #certificateFile {
    opacity: 0;
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: -1;
  } */
  
