@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./bg-white.png);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Hind", sans-serif;
    background-position: center;
    background-size: cover;
}

body .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body .container h1{
    font-size: 40px;
    font-weight: 600;
    line-height: 50.46px;  
}

.container h3{
    font-size: 25px;
    font-weight: 400;
    line-height: 51.23px;
    color: #0A66C2;
}

.container img{
    margin: 30px;
    width: 350px;
    height: 69px;
}

body .container form{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows: repeat(2 , 1fr);
    gap: 10px;
    width: 60vw;
    height: 30vh;
    border-radius: 8px;
    border: 1px solid #80808080;
    background-color: #F3F7FC;
    justify-content: space-evenly;
    padding: 40px;
}

 .form-group label{
    font-weight: 600;
    line-height: 35.22px;
}

.form-group input{
    padding: 9.07px 16.13px;
    border: 1px solid #80808080;
    gap: 10.08px;
    border-radius: 4px;
    background-color: #FFFFFF;
}

 .form-group{
    display: flex;
    flex-direction: column;
    align-self: center;
}

body .container footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: fixed;
    bottom: 0;
    gap: 10px;
}

.container .login-span{
    font-weight: 500;
    font-size: 16px;
    line-height: 28.82px;
}

.container .login-span a{
    text-decoration: underline;
    color: #0A66C2;
}

.container button{
    width: 30%;
    height: 40px;
    color: white;
    line-height: 25.82px;
    font-weight: 700;
    text-align: center;
    font-size: 14.13px;
    padding: 9.07px, 16.13px, 9.07px, 16.13px;
    background-color: #0A66C2;
    border: 0.58px #FFFFFF;
    gap: 10.08px;
    border-radius: 4.03px;
    margin: 15px 0px;
}

.container footer span:nth-child(1){
    font-weight: 500;
    font-size: 14px;
    line-height: 28.83px;
    margin-top: 40px;
    color: #808080;
}

.container footer span:nth-child(2) a{
    color: #000000;
    size: 14px;
    font-weight: 400;
    line-height: 28.82px;
}

/* for otp page - page2 */

body .container #form-otp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
    height: 30vh;
    width: 30vw;
    border-radius: 8px;
    border: 1px solid #80808080;
    background-color: #F3F7FC;
    align-items: center;
}

.container #form-otp .input-boxes{
    display: flex;
    grid-area: 5px;
}

.input-boxes input{
    width: 50px;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin: 2px;
    border: 1px solid #55525c;
    background-color: white;
}

.container #span1{
    font-weight: 500;
    font-size: 13px;
    line-height: 28.82px;
    color: #008000;
}

.container #span2{
    font-weight: 500;
    font-size: 16px;
    line-height: 28.82px;
    color: #808080;
}

.container #span2 a{
    text-decoration: underline;
    color: #0A66C2;
}

.container #btn-otp{
    width: 30vw;
    height: 40px;
    color: white;
    line-height: 25.82px;
    font-weight: 700;
    text-align: center;
    font-size: 14.13px;
    padding: 9.07px, 16.13px, 9.07px, 16.13px;
    background-color: #0A66C2;
    border: 0.58px #FFFFFF;
    gap: 10.08px;
    border-radius: 4.03px;
    margin: 15px 0px;
}

/* This css is for the last page */



body .container #form-last{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
    height: 40vh;
    width: 30vw;
    border-radius: 8px;
    border: 1px solid #80808080;
    background-color: #F3F7FC;
    align-items: center;
}

body .container #form-last img{
    width: 80px;
    height: 80px;
}

body .container #form-last h1{
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    color: #000000;
}

body .container #form-last span{
    font-weight: 600;
    font-size: 16px;
    line-height: 35.22px;
    color: #000000;
}

body .container #form-last span a{
    text-decoration: underline;
    color: #0A66C2;
}

#sumit-btn{
    cursor: pointer;
}