body {
    font-family: 'poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    /* background-color: #f4f4f4; */
    margin: 0;
    padding: 0;
  }
  
  .container {
   display: flex;
    height: 100vh;
    width: 100%;
    
  }
  label{
    font-size: 16px;
    font-weight: 550;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 40px;
    color: #333;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1.3px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: inherit;
  }
  
  input[type="text"]:focus,
  input[type="password"]:focus {
    border-color: #aaa;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  button {
    background-color: rgba(10, 102, 194, 1);
    color: #fff;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    font-family: inherit;
  }
  
  button:hover {
    background-color:  #4b89fb;
  }
  
  button:active {
    background-color:  #005bff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.2s ease;
  }
  
  a:hover {
    color: #005bff;
    text-decoration: underline;
  }
  #loginForm{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .left-content{
width: 50vw;
/* margin: 0 100px 0 0; */
padding: 40px;

/* background: rgb(255, 176, 176); */


  }
  .left-content img{
    width: 100%;
    background-size:cover;
    background-position: center;
   
    overflow: hidden;
  }
  .right-content{
    width: 50vw;
    height: 100vh;
  }
  .right-content img{
    height: 100vh;
    background-size: cover;
    background-position: center;
    background: rgba(10, 102, 194, 1);
    padding:  0 15px;
  }
  .right-content .img{
    width: 100%;
    background-size: cover;
    background-position: center;
    background: rgba(10, 102, 194, 0.25);
    padding: 0 0 0 20px;
  }
  .left-content h2{
    color: rgba(10, 102, 194, 1);
    font-size: 30px;
    font-weight: normal;
    text-align: center;
  }
  .inner-div{
    background: rgba(243, 247, 252, 1);
padding: 40px;
margin: 0 40px;
border-radius: 5px;
border: 1.2px solid rgba(202, 202, 202, 0.788)

  }
  
  .footer .text{
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #666;
  }
  
  .footer .links{
    align-items: center;
  }
  .footer .links a{
    color: #000;
    text-decoration: none;
    transition: color 0.2s ease;
  }
  
  .footer .links a:hover {
    color: rgba(10, 102, 194, 1);
    text-decoration: underline;
  }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .footer .links {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  #onLogo{
background: #fff;
padding: 10px 20px;
border-radius: 10px 0 0 10px;
    height: 50px;
    position: absolute;
    bottom: 40px;
    right: 0;
    
  }
 
#forgetPass {
  
  align-self: flex-end;
  margin-top: -10px; 
  font-size: 0.9em; 
  color: #007BFF;   
  text-decoration: none;
  padding:10px 5px;
}

#forgetPass:hover {
  text-decoration: underline;
}