
/* slider styles */

@media screen and (max-width: 800px){


	
	.myslide{
		height: 500px;
	}
	.txt{
		letter-spacing: 2px;
		line-height: 25px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-animation-name: posi2;
		-webkit-animation-duration: 2s;
		animation-name: posi2;
		animation-duration: 2s;
	}

	@-webkit-keyframes posi2 {
	  from {top: 35%;}
	  to {top: 50%;}
	}


	@keyframes posi2 {
	  from {top: 35%;}
	  to {top: 50%;}
	}

	.txt h1{
		font-size: 40px;
	}
	.txt p{
		font-size: 13px;
	}

}

/* Mobile Styles */


@media (max-width: 768px) {


	
	 .onText-slider, .home-content {
	  flex-direction: column;
	  /* align-items: center; */
	  /* justify-content: center; */
	  padding: 10px;
	  /* text-align: center; */
	}
	
	.content{
		margin-top: 50px;
	}
	.web-text p {
	  margin-left: 0;
	  font-size: 0.8rem;
	}
  
	.right-text a, .upperNav button, .onText-slider button {
	  width: auto;
	  padding: 8px 10px;
	  font-size: 0.8rem;
	}
  
	.search input {
	  width: 100%;
	  font-size: 1rem;
	}
  
	.txt h1 {
	  font-size: 2rem;
	}
  
	.txt p {
	  font-size: 1rem;
	}
  
	.home-content .content h1 {
	  font-size: 1rem;
	  margin-top: 20px;
	}
  
	.home-content .content-box {
	  flex-direction: column;
	  height: auto;
	}
  
	.boxes {
	  flex-direction: column;
	  gap: 10px;
	}
  
	.content-box img {
	  width: 80px;
	  height: 80px;
	}
  
/* .content-box .content-text h2,
 .content-box .content-text ol {
	  text-align: center;
	} */
  
	.content-img h2 {
	  font-size: 1rem;
	}
  
	.content-img object {
	  width: 40px;
	  height: 40px;
	}
  
	.menu ul, .lowerNav ul {
	  flex-direction: column;
	  gap: 10px;
	}
  
	.dropdown-menu {
	  position: relative;
	} 
  
	.onText-slider {
	  width: 90%;
	  height: auto;
	  flex-direction: column;
	 text-align: center;
	}
  
	.onText-slider .text-area h1, .onText-slider .text-area p {
	  margin-left: 0;

	}
  
	.onText-slider .text-area::before {
	  display: none;
	}
  }
  


  /* registerpage */

  @media screen and (max-width:1024px) {
	.headings h1{
		font-size: 15px;
		font-weight: 600;
		line-height: 10px;  
		text-align: center;
	}
	.headings h3{
		font-size: 20px;
		font-weight: 400;
		/* line-height: 51.23px; */
	}
	.container img{
		/* margin-top: 40px; */
	}
	body .container #form1 , #form3{
		padding: 5px;
	}
	.container button{
		margin: 29px 10px;
		padding: 0px;
	}
	.container .login-span{
		font-weight: 500;
		font-size: 16px;
		/* line-height: 28.82px; */
		margin-bottom: 20px;

	}
	footer {
		font-size:20px;
	}
  }
  @media screen and (max-width:600px){
	.container .login-span{
		font-weight: 500;
		font-size: 16px;
		/* line-height: 28.82px; */
		margin-bottom: 0px;

	}
	footer{
		font-size: 15px;
		
	}
	body .container  #form1 , #form3{
		height: 290px;
		width: 250px;
		padding: 2px;
		gap: 0px;
		display: flex;
		flex-direction: column;
		/* background-color: blue; */
	}
	.container img{
		margin-bottom: 0px;
		margin-top: 40px;
	}
	.container button{
		margin: 20px 10px;
		padding: 0px;
	}
  }

  /* login */
   @media screen and (max-width:1200px){
	.containeri #loginbtnn{
		font-size: 20px;
		padding: 10px;
	}
	.containeri #continuinglog{
	padding: 0px;
	margin: 0px;
	
}
.containeri .footer .links{
	margin: 0px 0px;
	font-size: 20px;
}
.containeri .footer .text{
	font-size: 19px;
	font-weight: 400;
}
.containeri{
		overflow: hidden;
}
.containeri .left-content h1{
		font-size: 20px;
		margin: 0px;
		line-height: 2px;
		padding: 0px;
		position: absolute;
		top: 5%;
		left: 20%;
}
.containeri label{
		font-size: 18px;
	}
	.containeri input[type="text"],
	.containeri input[type="password"] {
	  width: 100%;
	  padding: 10px;
	  margin: 5px 0;
	  border: 1.3px solid #ccc;
	  border-radius: 3px;
	  box-sizing: border-box;
	  font-size: 25px;
	  font-family: inherit;
	}
	
	  .containeri #forgotPass{
		margin-top: 23px;
		margin-bottom: 0px;
		padding:10px 0px;
		width: 100%;
		font-size: 20px;
	}
	.containeri .left-content h2{
		font-size: 20px;
	}
	.containeri .inner-div{
		height: 410px;
	width: 250px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: 70px;
	font-size: 20px;
	}
	.containeri .right-content{
		
		height: 100vh;
	  }
	  .containeri .right-content img{
		height: 90vh;
		width: 50vw;
		background-size: cover;
		background-position: center;
		background: rgba(10, 102, 194, 1);
		padding:  0 15px;
	  }
	  .containeri .right-content .img{
		
		background-size: cover;
		background-position: center;
		background: rgba(10, 102, 194, 0.25);
		padding: 0 0 0 20px;
	  }
  } 
