
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
td,
th,
div,
span,
input,
textarea,
select,
button,
label,
form,
header,
label {
  margin: 0; /* Reset all margins and paddings */
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Add border-box to all elements */
}

/* Reset all list styles */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Reset all anchor styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Reset all button styles */

button {
  border: none;
  background: none;
  cursor: pointer;
}

/* Reset all input styles */

input {
  border: none;
  outline: none;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: var(--header-color);
}

:root {
  --header-color: #083D5D;
  --background: rgba(10, 102, 194, 0.05);
}

body {
  font-family: poppins, sans-serif;
  /* background: rgba(159, 157, 157, 0.779); */
}
#onlineTest{
  background: crimson;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 8px 16px;
  font-size: 0.8rem;
  font-weight: 600;
  transition: all 0.3s ease;
  animation: loopwarn 1s .5s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite alternate;
  border-radius: 30px;
<<<<<<< HEAD
  font-size: 0.9rem;
  font-weight: 300;
=======
  font-weight: 600;
>>>>>>> 229673bd4c700f692fc8f99f9b4f8bffcaf60a6d
  transition: all 0.3s ease;
 
  
}
.material-symbols-outlined.google-ico{
  font-size: 14px;
}

#ebookBtn{
  background: #C67534;
  color: #fff;
  padding: 8px 16px;
  font-size: 0.8rem;
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 5px;

  font-weight: 600;
  transition: all 0.3s ease;
  animation: loopwarn 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite alternate;


  border-radius: 30px;
  font-size: 0.9rem;
  font-weight: 600;
  transition: all 0.3s ease;
  text-align: right;
}
#onlineTest:hover, #ebookBtn:hover{
  background: #000000;
  opacity: 1;
  animation: none;
}
@keyframes loopwarn {
  from{
    scale: 1;
  }
  to{
    scale: .95;
  }
}
/* Header */


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 40px;
  width: 100%;
  font-size: 14px;
}
.web-text p {
  display: inline-block;
  color: white;
  font-size: 0.6rem;
  font-weight: 700;
}
.web-text p:first-child {
  margin-left: 40px;
}
.web-text p span {
  font-weight: 300;
}
.web-text p::after {
  content: "|";
  margin: 0 10px;
  color: white;
  font-weight: 300;
}
.web-text p:last-child::after {
  content: "";
}
.right-text {
  display: flex;
  
}

.right-text .link {
  display: flex;
  align-items: center;

}

.right-text .link .svg-object {
  /* margin-right: 3px;  */
  width: 1rem;
  height: 1rem;
}


.right-text .link {
  color: white;
  font-size: 0.6rem;
  transition: all 0.3s ease;
}
.right-text a:last-child {
  margin-right: 40px;
}
.right-text a::after {
  content: "|";
  margin: 0 8px;
  color: white;
  font-weight: 300;
}
.right-text a:last-child::after {
  content: "";
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
.menu {
  display: flex;
  justify-content: left;
  align-items: flex-end;
  flex-direction: column;
  margin-right: 40px;
}
.upperNav {
  display: flex;
  gap: 8px;
}
.lowerNav {
  display: flex;
  gap: 22px;
}
.upperNav {
  display: flex;
  
  align-items: center;
}
.upperNav .search {
  display: none;
  border: 0.5px solid var(--header-color);
  border-radius: 3px;
  padding: 4px 8px;
  /* margin-right: 20px; */
  /* width: 300px; */
  max-width: 300px;
}



.search-box {
  font-size: 80px;
  border: solid 0.3em #000000;
  display: inline-block;
  position: relative;
  border-radius: 2.5em;
<<<<<<< HEAD
<<<<<<< HEAD
  scale: 0.6;
=======
  scale:0.6;
>>>>>>> 8271319d2309b22c6590a9f10e2d42261f108f5a
=======
  scale: 0.6;


>>>>>>> b33b6a638a62c8370fe7e091d2bd5ae14668e0d6
}
.search-box input[type=text] {
  font-family: inherit;
  font-weight: bold;
  width: 2.5em;
  height: 2.5em;
  padding: 0.3em 2.1em 0.3em 0.4em;
  border: none;
  box-sizing: border-box;
  border-radius: 2.5em;
  transition: width 800ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 150ms;
}
.search-box input[type=text]:focus {
  outline: none;
}
.search-box input[type=text]:focus, .search-box input[type=text]:not(:placeholder-shown) {
  width: 18em;
  transition: width 800ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.search-box input[type=text]:focus + button[type=reset], .search-box input[type=text]:not(:placeholder-shown) + button[type=reset] {
  transform: rotate(-45deg) translateY(0);
  transition: transform 150ms ease-out 800ms;
}
.search-box input[type=text]:focus + button[type=reset]:after, .search-box input[type=text]:not(:placeholder-shown) + button[type=reset]:after {
  opacity: 1;
  transition: top 150ms ease-out 950ms, right 150ms ease-out 950ms, opacity 150ms ease 950ms;
}
.search-box button[type=reset] {
  background-color: transparent;
  width: 1.4em;
  height: 1.4em;
  border: 0;
  padding: 0;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0.55em;
  right: 0.55em;
  transform: rotate(-45deg) translateY(2.2em);
  transition: transform 150ms ease-out 150ms;
}
.search-box button[type=reset]:before, .search-box button[type=reset]:after {
  content: "";
  background-color: #000000;
  width: 0.3em;
  height: 1.4em;
  position: absolute;
}
.search-box button[type=reset]:after {
  transform: rotate(90deg);
  opacity: 0;
  transition: transform 150ms ease-out, opacity 150ms ease-out;
}



/* 

.search svg {
  fill: var(--header-color);
  margin-right: 10px;
}
.search {
  display: flex;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.15) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.2) 0px 3px 7px -3px;
}
.search input {
  width: 360px;
  height: 25px;
  border: none;
  margin-top: 5px;
  font-size: 18px;
}
.search input::placeholder {
  font-size: 16px;
} */
.upperNav a {
  background: var(--header-color);
  color: white;
  /* padding: 8px 15px; */
  /* padding: 5px 10px; */
  border-radius: 3px;
  font-size: 0.9rem;
  font-weight: 600;
  transition: all 0.3s ease;
  top: 50%;
  transform: translateY(-50%);
}
/* .signUp , .login{
  height: 30px;
  width: 135px;
  background: var(--header-color);
 color: black; 
  border-radius: 3px;
 
  transition: all 0.3s ease;
  text-align: center;
  */
 /* } */
<<<<<<< HEAD
  .blue-btn{
    background: 083D5D;
    color: #000;
=======


 #logInButton{
  color: white;
  
 }
  .blue-btn{
<<<<<<< HEAD
    background: 083D5D;
    color: #000;
=======
    background: #083D5D;
    color: #fff;
>>>>>>> 0a7ea0551083c723502746ec6fdf49d2505ce6bb
>>>>>>> b33b6a638a62c8370fe7e091d2bd5ae14668e0d6
    padding: 8px 15px;
    border-radius: 3px;
    font-size: 0.9rem;
    font-weight: 600;
    transition: all 0.3s ease;
    /* height: 25px; */
    /* width: 100px; */
    text-align: center;
    border-radius: 30px;
  }
  .btn-box{
    width:250px;
    display: flex;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    position: relative;

  }

  .toggle-btn{
    padding: 8px 26px;
    position: relative;
    outline: none;
    border: none;
    background: transparent;
    font-size: 0.9rem;
    color: black;
<<<<<<< HEAD
  
=======
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
>>>>>>> b33b6a638a62c8370fe7e091d2bd5ae14668e0d6
  }

  #swap-btn{
    position: absolute;
    top: 0;
    left: 0;
    width: 125px;
    height: 100%;
    background: #083D5D;
    color: #fff;
    border-radius: 30px;
    transition: all 0.4s ease;
  }


  #certificate{
    background: #083D5D;
    color: #fff;
<<<<<<< HEAD
    padding: 8px 15px;
=======
<<<<<<< HEAD
    padding: 6px 12px;
=======
    padding: 8px 32px;
>>>>>>> 0a7ea0551083c723502746ec6fdf49d2505ce6bb
>>>>>>> b33b6a638a62c8370fe7e091d2bd5ae14668e0d6
    border-radius: 30px;
    font-size: 0.8rem;
    font-weight: 600;
    transition: all 0.3s ease;
    /* height: 25px; */
    /* width: 100px; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

  }





 
.lowerNav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 40px;

  align-self: flex-end;
}
.lowerNav ul {
  display: flex;
  gap: 20px;
 

}
.lowerNav li {
  position: relative;
}

.lowerNav li a {
  margin-top: 10px;
  font-size: 0.9rem;
  transition: all 0.3s ease-in-out;
}
.lowerNav li:hover .dropdown-menu {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;

  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
}

.dropdown-menu {
  display: none;
  z-index: 33;
}
.lowerNav li:hover .dropdown-menu ul {
  display: block;
  /* margin: 10px; */
}
.lowerNav li:hover .dropdown-menu ul li {
  padding: 10px;
  width: 140px;
  font-size: 0.8rem;
}
.dropdown-menu .nav-link {
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
}

.menu-link {
  display: flex;
  align-items: center;
  cursor: pointer; 
  
}


.svg-object {
  /* display: inline-block; */
  margin-right: 0.21em;
  cursor: pointer;
  width: 20px;
  height: 20px;

}


.dropdown-menu .fas {
  margin-left: 15px;
  /* float: right; */
  font-size: 10px;
  padding-top: 3px;
}
.lowerNav .fas {
  font-size: 10px;
  /* padding-top: 3px; */
  margin-left: 5px;
  
}


.menu-link:focus,
.nav-link:hover  {
  color: var(--header-color);
}

.line-effects {
  width: 0;
  height: 2px;
  background-color: var(--header-color);
  transition: all 0.2s linear;
  position: fixed;
}

.logo {
  margin-left: 40px;
}


.menu-link:hover .fas {
  opacity: 1;
  transform: rotate(180deg);
  transition: all 0.3s ease-in;
}

/* Slider */

.slider {
  position: relative;
  width: 100%;
  background: #2c3e50;
  height: 50vh;
  overflow: hidden;
}
.myslide {
  height: 100%;
  display: none;
  overflow: hidden;
}

.dotsbox {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 50px;
  cursor: pointer;
}
.dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 3px solid #fff;
  border-radius: 50%;
  background: #fff;
  margin: 2px;
  cursor: pointer;
  transition: all 0.3s ease;
  opacity: 0.6;
}

.active{
  border-color: var(--header-color);
  background: var(--header-color);
  width: 25px;
  border-radius: 50px;
  height: 8px;
  opacity: 1;
}
.dot:hover  {
  border-radius: 50px;
  height: 8px;
  opacity: 1;
}

.active:hover{

  border-color: var(--header-color);
  background: var(--header-color);
  border-radius: 50px;
  height: 8px;
  opacity: 1;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

.txt {
  position: absolute;
  color: #fff;
  letter-spacing: 2px;
  line-height: 35px;
  top: 40%;
  left: 15%;
  z-index: 1;
}

.txt h1 {
  color: #00a7ff;
  font-size: 50px;
  margin-bottom: 20px;
}
.txt p {
  font-weight: bold;
  font-size: 20px;
}

.onText-slider {
  margin: 0 auto;
  height: 100px;
  width: 80%;
  background: #fff;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translate(-50%, -50%);
  padding: 10px;
  left: 50%;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.onText-slider .text-area h1 {
  font-size: 1.4rem;
  font-weight: 600;
  color: #333;
  margin-left: 40px;
  text-align: left;
}
.onText-slider .text-area p {
  margin-top: 10px;
  font-size: 0.9rem;
  font-weight: 300;
  color: #333;
  margin-left: 40px;
  width: 80%;
  /* text-align: center; */
}
.onText-slider button {
  background: var(--header-color);
  color: #fff;
  padding: 10px 10px;
  border-radius: 3px;
  font-size: 0.8rem;
  font-weight: 600;
  transition: all 0.3s ease;
  width: 140px;
  margin-right: 20px;
  display: flex;
  align-items: center;
}
.onText-slider .text-area::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 20px;
  width: 4px;
  transform: translatey(-50%);
  height: 60%;
  border-radius: 5px;
  background: var(--header-color);
  z-index: 2;
}

.home-content {
  height: 100%;
  background: var(--background);
  margin: 80px 40px;
}

.home-content .content p {
  font-size: 0.8rem;
  font-weight: 400;
  color: #333;
  margin: 10px 0 30px 0;
}
.home-content .content span {
  /* font-size: 0.9rem; */
  font-weight: 700;
  color: #333;
}
.home-content .content h1 {
  font-size: 1.2rem;
  font-weight: 400;
  color: #333;
  margin: 10px 0;
}
.home-content .content strong {
  color: var(--header-color);
}
.home-content .content-box {
  height: 300px;
  width: 100%;
  /* background: grey; */
  border: 1px solid #cac6c6;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  flex-wrap: nowrap;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  background: #fff;
}
.boxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 20px;
}
.content-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.content-box .content-text h2 {
  font-size: 1rem;
  font-weight: 600;
  margin: 10px 0;
}
.content-box .content-text ol {
  font-size: 0.9rem;
  font-weight: 300;
  margin: 0 10px;
}
.content-img h2 {
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
}
.content-img{
  float: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  /* padding: 20px; */
}


.content-img object{
  width: 50px;
  height: 50px;
  padding: 10px;
  background: var(--header-color);
  object-fit: cover;
  border-radius: 50%;
}

.menu-link:hover .svg-object{
  filter: invert(27%) sepia(96%) saturate(1812%) hue-rotate(182deg) brightness(89%) contrast(91%);

}
/* .svg-object:hover{
  filter: invert(27%) sepia(96%) saturate(1812%) hue-rotate(182deg) brightness(89%) contrast(91%);
} */

.menu-link:hover{
  color: var(--header-color);
}
.menu-link:active .svg-object{
  filter: invert(27%) sepia(96%) saturate(1812%) hue-rotate(182deg) brightness(89%) contrast(91%);
}

.search-box {
  font-size: 20px;
  border: solid 0.3em #000000;
  display: inline-block;
  position: relative;
  border-radius: 2.5em;
  /* scale: 0.6; */
}
.search-box input[type=text] {
  font-family: inherit;
  font-weight: bold;
  width: 2.5em;
  height: 2.5em;
  padding: 0.3em 2.1em 0.3em 0.4em;
  border: none;
  box-sizing: border-box;
  border-radius: 2.5em;
  transition: width 800ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 150ms;
}
.search-box input[type=text]:focus {
  outline: none;
}
.search-box input[type=text]:focus, .search-box input[type=text]:not(:placeholder-shown) {
  width: 18em;
  transition: width 800ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.search-box input[type=text]:focus + button[type=reset], .search-box input[type=text]:not(:placeholder-shown) + button[type=reset] {
  transform: rotate(-45deg) translateY(0);
  transition: transform 150ms ease-out 800ms;
}
.search-box input[type=text]:focus + button[type=reset]:after, .search-box input[type=text]:not(:placeholder-shown) + button[type=reset]:after {
  opacity: 1;
  transition: top 150ms ease-out 950ms, right 150ms ease-out 950ms, opacity 150ms ease 950ms;
}
.search-box button[type=reset] {
  background-color: transparent;
  width: 1.4em;
  height: 1.4em;
  border: 0;
  padding: 0;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0.55em;
  right: 0.55em;
  transform: rotate(-45deg) translateY(2.2em);
  transition: transform 150ms ease-out 150ms;
}
.search-box button[type=reset]:before, .search-box button[type=reset]:after {
  content: "";
  background-color: #000000;
  width: 0.3em;
  height: 1.4em;
  position: absolute;
}
.search-box button[type=reset]:after {
  transform: rotate(90deg);
  opacity: 0;
  transition: transform 150ms ease-out, opacity 150ms ease-out;
}

.success-message {
            padding: 10px;
            background-color: #dff0d8;
            color: #3c763d;
            border: 1px solid #d6e9c6;
            border-radius: 4px;
            margin: 10px 0;
        }






        /* profile */
  

#profileButton {
  background: var(--header-color);
  color: white;
  padding: 8px 15px;
  border-radius: 3px;
  font-size: 0.9rem;
  font-weight: 600;
  transition: all 0.3s ease;
  /* height: 25px; */
  width: 100px;
  text-align: center;
}

.drawer {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.drawer-content {
    color: white;
    margin: 20px;
}

.drawer a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.drawer a:hover {
    color: #f1f1f1;
}

.drawer .close {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
}
.drawer-content ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
}


/* Quiz */
        .correct { color: green; }
        .incorrect { color: red; }
   