@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}


header .upper-header{
    background-color: #006989;
    color: white;
    display: flex;
    font-size: small;
    justify-content: space-between;
    padding: 5px 10px;
}

.upper-header .left-content span{
    font-weight: 500;
}

.upper-header .right-content span{
    align-content: end;
}

.upper-header .right-content a{
    text-decoration: none;
    color: white;
    padding: 0px 3px;
}

header .lower-header{
    display: flex;
    justify-content: space-between;
    padding: 8px 40px;
    border-bottom: 0.5px solid #0A66C280;
    background-color: #FFFFFF;
}

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100vw;
    height: 100%;
}

.main-content .upper-content{
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
}

.upper-content p,li{
    font-weight: 400;
}

.upper-content p{
    margin-bottom: 10px;
    font-weight: 500;
}

.upper-content li{
    list-style-type: none;
}

.upper-content li span{
    font-weight: 700;
    color: #006989;
}

.main-content .lower-content{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lower-content section{
    margin: 10px 0px 20px 0px;
    justify-self: flex-start;
}

.main-content .lower-content section .form-group{ 
    display: flex;
    flex-direction: column;
    width: 27vw;
    height: 20vh;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #80808080;
    background-color: #F3F7FC;
    justify-content: center;
    align-items: flex-start;
}

section .form-group label{
    font-weight: 600;
    line-height: 35.22px;
}

section .form-group input{
    width: 24.8vw;
    padding: 9.07px 16.13px;
    border: 1px solid #80808080;
    gap: 10.08px;
    border-radius: 4px;
    background-color: #FFFFFF;
}

.lower-content .buttons{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.buttons button{
    padding: 12.48px 22.18px;
    gap: 13.86px;
    text-align: left;
    border-radius: 48px;
    font-size: 16px;
    font-weight: 700;
    line-height: 21.12px;
}

.buttons button:nth-child(1){
    border: 0.69px solid #008000;
    background-color: #008000;
    color: white;
}

.buttons button span:nth-child(1){
    position: relative;
    margin-right: 6px;
    top: 4px;
}

.buttons button:nth-child(2){
    border: 0.69px solid #0A66C2;
    background-color: white;
    color: #0A66C2;
}

.lower-content .spanfooter{
    margin-top: 4%;
    font-weight: 400;
    line-height: 35.22px;
}

.spanfooter span{
    font-weight: 700;
    color: #0A66C2;
    line-height: 35.22px;
    margin: 10px;
}

#span-message{
    display: none;
    width: 27vw;
    background-color: #EAFCEA;
    border: 0.75px solid #008000;
    padding: 3px 12px;
    border-radius: 38.25px;
    gap: 7.5px;
    color: black;
    text-align: center;
    margin: 0px 0px 10px 0px;
}

#message{
    font-size: small;
    font-weight: 400;
    line-height: 26.42px;
}

#innerspan{
    font-weight: 700;
    font-size: small;
}