<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/onlineTest.css" />
  </head>
  <body>
    <main class="main">
      <!-- mav -->
      <header>
        <div class="logo">
          <img src="../assets/images/OIG3 (1).jpeg" alt="OnlineTestLogo" />
        </div>
      </header>

      <div class="container">
        <!-- quiz section -->
        <section class="quiz-section">
            <div class="quiz-box">
                <h1>RID Quiz</h1>
                <div class="quiz-header">
                    <span> RID'S Quiz website</span>
                    <span>Time: <span id="time">30:00</span></span>
                </div>
                <h2 class="quiz-que">Lorem ipsum dolor sit amet.</h2>
                <div class="options-list">
                    <div class="option">
                        <input type="radio" name="option" id="option1" />
                        <label for="option1">Option 1</label>
                    </div>
                    <div class="option">
                        <input type="radio" name="option" id="option2" />
                        <label for="option2">Option 2</label>
                    </div>
                    <div class="option">
                        <input type="radio" name="option" id="option3" />
                        <label for="option3">Option 3</label>
                    </div>
                    <div class="option">
                        <input type="radio" name="option" id="option4" />
                        <label for="option4">Option 4</label>
                    </div>
                </div>
                <div class="quiz-footer">
                    <span class="question-total">1 of 10</span>
                <div class="btn-group">
                    <button class="next-btn">Next</button>
                    <button class="submit-btn">Submit</button>
                </div>
            </div>
        </section>

        <!-- home -->
        <section class="home">
          <div class="home-content">
            <h1>Online Test</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa odio
              cumque, repudiandae impedit laboriosam commodi modi itaque facilis
              sit explicabo?
            </p>
            <button class="start-Btn">Start Test</button>
          </div>
        </section>
      </div>
    </main>

    <div class="popup-info">
      <h2>Instructions</h2>
      <span class="info">1. the test is only for 30 min</span>
      <span class="info"
        >2. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto,
        exercitationem.</span
      >
      <span class="info"
        >3. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto,
        exercitationem.</span
      >
      <span class="info"
        >4. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto,
        exercitationem.</span
      >
      <span class="info"
        >5. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto,
        exercitationem.</span
      >

      <div class="btn-group">
        <button class="cancel-btn info-btn">Cancel</button>

        <button class="continue-btn info-btn">Start</button>
      </div>
    </div>

    <script src="../js/onlineTest.js"></script>
  </body>
</html>
