@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0, "CRSV" 0, "SHRP" 0;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 1, "opsz" 24;
}

html,
body {
  width: 100%;
  height: 100%;
}
.buttons {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.buttons button {
  padding: 12px 14px;
  display: flex;
  justify-content: center;
  font-weight: 400;
  align-items: center;
  gap: 4px;
  background: url("https://e0.pxfuel.com/wallpapers/480/709/desktop-wallpaper-purple-blue-swirl-abstract.jpg");
  background-position: center;
  background-size: cover;
  color: white;
  border: none;
  background-repeat: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  animation: uniquee 800ms cubic-bezier(0.68, -0.55, 0.2, 2);
}

.buttons button:hover {
  opacity: 0.75;
}
@keyframes uniquee {
  from {
    transform: translateY(32px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.fa-angle-left {
  font-size: 1.5rem;
  background: red;
}
